.activity {
    &__title {
        color: white;
        font-size: 30px;
        margin: 0;
    }
    &__descr {
        display: flex;
        &-text {
            color: white;
            font-size: 24px;
        }
    }
}