.schedule {
    margin-top: 7rem;
    margin-bottom: 7rem;
    &__title {
        color: white;
            font-size: 50px;
            text-align: center;
    }
    .grades {
        color: white;
        font-size: 25px;
    }
    .subjects {
        color: white;
        font-size: 20px;
        padding: 1rem;
    }
}