.header {
  margin-top: 1rem;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
}

.header__item-each {
  list-style-type: none;
  position: relative;
  overflow: hidden;
}

.header__item-each a {
  color: #fff;
  font-size: 36px;
  text-decoration: none;
  list-style-type: none;
}

.header__item-each .line {
  margin: 0;
  position: relative;
  left: -45rem;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.welcome__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome__titles-one {
  color: white;
  font-size: 96px;
  text-align: center;
  margin-top: 3rem;
  width: 100%;
  margin-bottom: 0;
}

.welcome__descr-p {
  color: #fff;
  font-size: 36px;
}

.welcome__descr-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* .arrow-1:hover {
                animation: arrow-1 1s linear infinite;
            } */
}

.welcome__descr-button-btn {
  background-color: transparent;
  border: 5px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  font-weight: 300;
  font-size: 30px;
  line-height: 60px;
  color: #FFFFFF;
  font-family: 'Waiting for the Sunrise', cursive;
  width: 23%;
  cursor: pointer;
  outline: none;
}

.welcome__descr-button-btn:hover {
  -webkit-box-shadow: 9px 13px 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 9px 13px 7px 4px rgba(0, 0, 0, 0.25);
}

.welcome__descr-button .arrow-1 {
  position: relative;
  width: 80px;
  height: 50px;
  margin: 20px;
  -webkit-animation: arrow-1 1s linear infinite;
          animation: arrow-1 1s linear infinite;
}

.welcome__descr-button .arrow-1 div {
  position: relative;
  top: 20px;
  width: 90px;
  height: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  left: 0;
  display: block;
}

.welcome__descr-button .arrow-1 div::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: -11px;
  right: -8px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.welcome__descr-button .arrow-1 div::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: 11px;
  right: -8px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes arrow-1 {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}

@keyframes arrow-1 {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}

.welcome__descr-ptwo {
  text-align: right;
  color: #fff;
  font-size: 25px;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(/src/img/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Waiting for the Sunrise', cursive;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */